<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Student Exam Performance Indicator</title>
</head>
<body>
    <div class="container">
        <h1 class="main-heading">Student Exam Performance Indicator</h1>
        <p class="welcome-text">Welcome to the home page</p>
        <div class="button-container">
            <a href="http://127.0.0.1:5000/predictdata" class="predict-button">Let's Predict</a>
        </div>
    </div>
</body>
</html>
